.footer {
  margin-top: 48px;
  padding-top: 48px;
  padding-bottom: 48px;

  &__top {
    display: flex;

    @include respond-down(sm) {
      flex-wrap: wrap;
    }

    &__block {

      padding-right: 16px;

      &:first-child {
        width: 35%;

        @include respond-down(sm) {
          width: 100%;
        }
      }

      &:not(:first-child) {
        width: calc((100% - 35%) / 3);

        @include respond-down(sm) {
          width: 100%;
        }
      }

      @include respond-down(sm) {
        margin-bottom: 16px;
      }

      .logo {
        margin-bottom: 24px;

        @include respond-down(sm) {
          margin-bottom: 12px;
        }
      }

      .desc {
        color: color(text-grey-8F);
      }

      .title {
        font-size: 16px;
        font-weight: 700;
        color: color(text-primary);
        margin-bottom: 16px;

        @include respond-down(sm) {
          margin-bottom: 12px;
        }
      }

      .list-item {
        .item {
          margin-bottom: 8px;

          a {
            color: color(text-grey-8F);
            text-decoration: none;
          }
        }
      }

      .phone-call {
        margin-top: 16px;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 12px 16px;
        border: 1px solid color(border-grey);
        max-width: 300px;
        border-radius: 3px;

        @include respond-down(sm) {
          max-width: 100%;
        }

        img {
          width: 24px;
          margin-right: 24px;
        }

        .info {
          .question {
            color: color(text-grey-8F);
            margin-bottom: 2px;
          }

          .phone-number {
            color: color(text-primary);
            font-size: 16px;
            font-weight: 700;
            text-decoration: none;
          }
        }
      }
    }
  }

  &__bottom {
    margin-top: 48px;
    padding-top: 32px;
    border-top: 1px solid color(border-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-down(sm) {
      margin-top: 8px;
      padding-top: 16px;
      flex-direction: column;
    }

    .copyright {
      color: color(text-grey-8F);
    }

    .payment-method {
      @include respond-down(sm) {
        margin-top: 12px;
      }
    }

  }
}