.container {
  padding-left: 128px;
  padding-right: 128px;
  max-width: 1440px;
  margin: 0 auto;

  @include respond-down(lg) {
    padding-left: 42px;
    padding-right: 42px;
  }

  @include respond-only(sm, md) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include respond-down(sm) {
    padding-left: 16px;
    padding-right: 16px;
  }

}

.text-primary {
  color: color(text-active) !important;
}