/* ==========================================================================
   # START VARIABLE SETTING
   ==========================================================================
*/
//Begin variable root
$font-heading: 'Nunito',
sans-serif;
$font-content: 'Nunito',
sans-serif;

$colors: (background-header:#333333,
    background-star:#EABE24,
    background-yellow:#EABE24,
    background-button-grey:#F6F6F6,
    text-primary:#383F43,
    text-grey:#A7A7A7,
    text-grey-8F:#8F9FAB,
    text-active:#EABE24,
    border-color:#51575A,
    border-color-yellow:#EABE24,
    border-grey:#d9d9d9,

);
$colors-dark: (background-header:#333333,
    background-star:#EABE24,
    text-primary:#383F43,
    border-color:#51575A,
);

$paddings: (left-layout:(xs:24px, sm:24px, lg:24px, xl:24px),
    right-layout:(xs:24px, sm:24px, lg:24px, xl:30px),
);
$widths: (sidebar: (xs:268px, sm:180px, lg:240px, xl:268px));
$heights: (header:(xs:60px, sm:60px, lg:80px, xl:92px));

:root {

    /*Begin color*/
    @each $name,
    $color in $colors {
        --color-#{$name}: #{$color};
    }

    /*End color*/
    /*Begin width*/
    @each $name,
    $width in $widths {

        // maps require a second loop
        @if type-of($width)=="map" {

            // each item in sub map
            @each $subname,
            $sub-width in $width {
                // --z-index-viewport-md
                --width-#{$name}-#{$subname}: #{$sub-width}
            }

            // top-level z-indexs
        }

        @else if type-of($width)=="number" {

            // --z-index-background
            --width-#{$name}: #{$width};

        }
    }

    /*End width*/
    /*Begin padding*/
    @each $name,
    $padding in $paddings {

        // maps require a second loop
        @if type-of($padding)=="map" {

            // each item in sub map
            @each $subname,
            $sub-padding in $padding {
                // --z-index-viewport-md
                --padding-#{$name}-#{$subname}: #{$sub-padding}
            }

            // top-level z-indexs
        }

        @else if type-of($padding)=="number" {

            // --z-index-background
            --padding-#{$name}: #{$padding};

        }
    }

    /*End padding*/
    /*Begin width*/
    @each $name,
    $width in $widths {

        // maps require a second loop
        @if type-of($width)=="map" {

            // each item in sub map
            @each $subname,
            $sub-width in $width {
                // --z-index-viewport-md
                --width-#{$name}-#{$subname}: #{$sub-width}
            }

            // top-level z-indexs
        }

        @else if type-of($width)=="number" {

            // --z-index-background
            --width-#{$name}: #{$width};

        }
    }

    /*End width*/

    /*Begin height*/
    @each $name,
    $height in $heights {

        // maps require a second loop
        @if type-of($height)=="map" {

            // each item in sub map
            @each $subname,
            $sub-height in $height {
                // --z-index-viewport-md
                --height-#{$name}-#{$subname}: #{$sub-height}
            }

            // top-level z-indexs
        }

        @else if type-of($height)=="number" {

            // --z-index-background
            --height-#{$name}: #{$height};

        }
    }

    /*End height*/

}

[data-theme="dark"] {

    @each $name,
    $color in $colors-dark {
        --color-#{$name}: #{$color};
    }
}

//End variable root
/* ==========================================================================
   # END VARIABLE SETTING
   ==========================================================================
*/